<% @page_title = "Student List" %>

<%= link_to("<< Back to List", {:action => 'index'}) %>
<div >
  <h2>Student</h2>

  <%= link_to('Add New Student', {:action => 'new'}, :class => "btn btn-warning") %>

  <div><%= pluralize(@students.size, 'student') %> found</div>

  <table class="table table-striped">
    <tr>
      <th>&nbsp;</th>
      <th>Student Name</th>
      <th>Position</th>
      <th>Visible</th>
      <th>School</th>
      
      
      
      
      <th>Action</th>
    </tr>
    <% @students.each do |student| %>
    <tr>
      <td><%= image_tag student.image.url(:thumb) %></td>
      <td><%= student.name %></td>
      <td><%= student.position%></td>
      <td><%= student.visible %></td>
      <td><%= student.school.school_name if student.school %></td>
      
      
      <td >
        <%= link_to('view', {:action => 'show', :id => student.id}, :class => "btn btn-primary") %>
        <%= link_to('Edit', {:action => 'edit', :id => student.id}, :class => "btn btn-success") %>
        <%= link_to('Delete', {:action => 'delete', :id => student.id}, :class => "btn btn-danger") %>
      </td>
    </tr>
    <% end %>
  </table>

</div>
